name: Build Linux static binary (amd64 & arm64)

on:
  push:
    branches: [ main ]
    tags: [ "v*" ]
  workflow_dispatch:

jobs:
  build-linux-static:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ amd64, arm64 ]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup QEMU
        if: matrix.arch == 'arm64'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64, 386

      - name: Build in Docker
        run: |
          docker run --rm --platform linux/${{ matrix.arch }} \
            -v $PWD:/build -w /build alpine:latest \
            sh -c "apk update && apk add --no-cache \
                     git make cmake gcc g++ musl-dev openssl-dev openssl-libs-static \
                     file && \
                   make clean hashsumr-static && \
                   strip hashsumr-static && \
                   mv hashsumr-static hashsumr-linux-${{ matrix.arch }}-static"

      - name: Upload static binary (artifact)
        uses: actions/upload-artifact@v4
        with:
          name: hashsumr-linux-${{ matrix.arch }}-static
          path: hashsumr-linux-${{ matrix.arch }}-static

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
          files: hashsumr-linux-${{ matrix.arch }}-static

