name: Release

on:
  push:
    tags: [ "v*" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-linux-static:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [ amd64, arm64 ]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup QEMU
        if: matrix.arch == 'arm64'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64, 386

      - name: Build in Docker
        run: |
          docker run --rm --platform linux/${{ matrix.arch }} \
            -v $PWD:/build -w /build alpine:latest \
            sh -c "apk update && apk add --no-cache \
                     git make cmake gcc g++ musl-dev openssl-dev openssl-libs-static \
                     file && \
                   make clean hashsumr-static && \
                   strip hashsumr-static && \
                   mv hashsumr-static hashsumr-linux-${{ matrix.arch }}-static"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hashsumr-linux-${{ matrix.arch }}-static
          path: hashsumr-linux-${{ matrix.arch }}-static

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: hashsumr-linux-${{ matrix.arch }}-static
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  build-win:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [ amd64, arm64 ]

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Setup VS development runtime
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch == 'arm64' && 'amd64_arm64' || 'amd64' }}

      - name: Build hashsumr
        shell: cmd
        run: |
          nmake /f NMakefile clean all
          rename hashsumr.exe hashsumr-${{ matrix.arch }}.exe
          
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: hashsumr-${{ matrix.arch }}.exe
          path: hashsumr-${{ matrix.arch }}.exe

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: hashsumr-${{ matrix.arch }}.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

  package-source:
    runs-on: ubuntu-latest
    needs: [ build-linux-static, build-win ]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'

      - name: Create source files
        run: |
          VERSION=${GITHUB_REF_NAME#v}
          NAME=hashsumr-${VERSION}
          find . -name '.git*' -exec rm -rf {} \; || true
          mkdir "$NAME"
          mv * "$NAME/" || true
          mkdir release
          tar czf "release/$NAME.tar.gz" "$NAME"
          zip -ur9 "release/$NAME.zip" "$NAME"

      - name: Upload artifact (tar.gz)
        uses: actions/upload-artifact@v4
        with:
          name: hashsumr-${{ github.ref_name }}.tar.gz
          path: release/hashsumr-*.tar.gz

      - name: Upload artifact (zip)
        uses: actions/upload-artifact@v4
        with:
          name: hashsumr-${{ github.ref_name }}.zip
          path: release/hashsumr-*.zip

      - name: Upload to Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            release/hashsumr-*.tar.gz
            release/hashsumr-*.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

